html
    head
        title Create
    body
        form(action="/create" method="post")
            label Ten
            input(type="text" name="name" placeholder="Nhập tên")
            label Tuoi
            input(type="number" name="age" placeholder="Nhập tuổi")
            input(type="submit" value="Them")