html
  head
    title Search
  body
    h1 Tim kiem
    form(action='/search' method='get')
        label Nhap ten:
        input(type='text' placeholder='Nhap ten cua ban' name='name')
        input(type='submit' value='Tìm')


