html
    head
        title List
    body
        h1 List User
        ul
            each item in list
                li
                    span= item.name
                    a(href=`/user/${item.id}`) Xem
        a(href="/getSearch") Tim kiem
        a(href="/create") Tao moi